@import '/vendor/filament/filament/resources/css/theme.css';
@import '../../forms/theme.css';

/* Hide the spinners for all number input fields */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide the spinners for Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.fi-tabs-item-label {
    @apply text-nowrap;
}

.filepond--file .filepond--file-action-button {
    background-color: rgba(0, 0, 0, 0.5);
}

.candidate-photo,
.candidate-symbol,
.org-logo {
    .filepond--file {
        @apply block;

        [data-align*='bottom'] {
            @apply bottom-2;
        }

        .filepond--file-info {
            @apply mr-0 !transform-none;
        }

        .filepond--file-status {
            @apply mr-0 mt-1 !transform-none items-start;

            .filepond--file-status-sub {
                @apply text-wrap text-start;
            }
        }
    }
}
