@import 'aos/dist/aos.css';
@import 'filament/base/sweetalert2.css';
@import 'poppins-font.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.container {
    @apply mx-auto w-full max-w-screen-xl px-4 md:px-6 lg:px-8;
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.animated-text {
    animation: fadeInScale 1.2s ease-in-out forwards;
}

.animated-image {
    animation: fadeInScale 1s ease-in-out forwards;
}

.pg-wiki.pg-index {
    .fi-ta-ctn {
        @apply divide-y-0 bg-transparent shadow-none ring-0;

        .fi-ta-content {
            @apply pb-6;

            .fi-ta-content-grid {
                @apply gap-6 p-0;
            }

            .cell-category {
                .fi-badge {
                    @apply bg-custom-600 text-sm text-custom-50;
                }
            }

            .cell-title {
                .fi-ta-text-item-label {
                    @apply text-xl font-bold hover:underline;
                }
            }

            .cell-summary {
                .fi-ta-text-item-label {
                    @apply text-base;
                }
            }
        }
    }
}
